body{
    margin: 0;
    background-color: #ededed;
    font-family: "Arial", "Times New Roman", sans-serif;

}
#container{
    width: 100%;
    height: 100%;
    margin: 0 auto;

    background-color: transparent;

}
#header{
    padding-top: 20px;
    height: 123px;
    width: 100%;
    max-width:100%;
    min-width: 100%;
    background-color: white;
    color: black;
    position: relative;
    top: -10px;
    z-index: 0;

}
#NSHD{
    width: 800px;
    height: 100px;
    max-width: 60%;
    min-width: 60%;
    max-height: 80%;
    position: relative;
    left: 21%;

}
#Bakgrundd{
  position: absolute;
  margin: 0;
  left: 50px;
  background-color: #f2f2f2;
  width: 80%;
  height: 30px;
  top: 0px;
  max-width: 80%;
}
.navbar{
    border-top: 1px solid lightgray;
    background-color: transparent;
    position: absolute;
    top: 125px;
    width: 1566px;
    height: 30px;
    z-index: 100;
    max-width: 100%;
    min-width: 100%;


}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;

}
.navbar li{
    background-color: white;
    float: left;
    width: 150px;
    font-size: 20;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid black;
    position: relative;
    height: 30px;
    line-height: 30px;

}
#hemm{
  border-radius: 0px 0px 0px 13px;

}
.navbar li ul{
    background-color: #f2f2f2;
    position: absolute;
    top: 30px;
    left: 0px;
    visibility: hidden;
}
.navbar li ul li{
    float: left;
    height: 30px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}
.navbar li:hover ul{
    visibility: visible;
}
.navbar li:hover{
    background-color: #f2f2f2;
}

.navbar li a{
    color: black;
    text-decoration: none;
}
#search{
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
#sbox{
    border: 0px solid white;
    border-left: 1px solid black;
    padding: 1.5%;
    height: 30px;
    width: 305px;
    max-width: 70%;
    position: relative;
    float: right;
    top: 0px;
    right: 33px;


}
#sbut{
  float: right;
    min-height: 30px;
    padding: 1.5%;
    height: 30px;
    background-color: white;
    margin: 0px;
    border: 0px solid white;
    border-left: 1px solid black;
    position: absolute;
    right: -0.05%;



    border-radius: 0px 0px 13px 0px;

}
#sbut:hover{
    background-color: #f2f2f2;
}
.cont{
  float: left;
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
}
#content{
  height: 570px;
}
#content1{
  height: 310px;
}
#content2{
  height: 560px;
}
#content3{
  float: none;
  margin: 0 auto;
  height: 670px;
  width: 50%;
  position: relative;
  text-align: center;
}#artiklar1{
  width: 98%;
  border-radius: 10px 10px 10px 10px;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #f2f2f2;
  height: 660px;
  float: left;
}#content3 p{
  font-size: 20px;
  padding: 10px;
}
#artiklar{
    float: left;
    border-radius: 10px 0 0 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    height: 300px;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 0;
}#artiklar p{
  font-size: 20px;
}


#WPS{
  float: left;
    border-radius: 10px 0 0 10px;
    margin-left: 5px;
    margin-right: 2px;
    z-index: 0;
}#WPA2{
  float: left;
  margin-left: 2px;
  margin-right: 2px;
    z-index: 0;
}#VPN{
  border-radius: 0px 10px 10px 0px;
  margin-left: 2px;
  float: left;
    z-index: 0;
}
.sake{
  text-align: center;
  margin-top: 3px;
  max-width: 32.70%;
  min-width: 20%;
  background-color: #f2f2f2;
  height: 550px;
  position: relative;
}
.sake p{
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
#installation{
    float: left;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 0;
}

.artics{
    height: 300px;
    width: 98%;
    float: left;
    border-bottom: 1px solid gray;
    position: relative;
    z-index: 0;
    margin-left: 1%;
    text-align: center;

}
#aOne{
  height: 300px;
}
.artics h1{
    color: black;
    text-shadow: 2px 2px white;
}

#produktTips{
    text-align: center;
    padding: 0px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 0 10px 10px 0;
    width: 39%;
    height: 550px;
    background-color: #f2f2f2;
    float: right;
}#produktTips img{
  width: 100px;
  height: 100px;
}
.produkter{
    height: 37.5%;
    width: 98%;
    margin-left: 1%;
    float: left;
    border-top: 1px solid gray;
    text-align: center;
    padding: 0;

}

.bildspelsContainer{
  max-width: 80%;
  max-height: 672px;
  position: relative;
  margin: auto;
  margin-top: 40px;
  z-index: 0;

}
#footer{
    clear: both;
    float: left;
    width: 100%;
    height: 100px;
    background-color: gray;
    position: relative;
    bottom: 2px;
    text-align: right;
    border-radius: 0 0 10px 10px;
    max-width: 100%;

}
#footer p{
  position: relative;
  right: 10px;
}
.bildpsel{
  display: none;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 3px 3px 0px;
}
.next{
  right: 0px;
  border-radius: 3px 0px 0px 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.bildpselsNummer{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;

}
.Fade{
  -webkit-animation-name: Fade;
  -webkit-animation-duration: 1.5s;
  animation-name: Fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes Fade{
  from{opacity: 0.5}
  to{opacity: 1}
}
@keyframes Fade {
  from{opacity: 0.5}
  to{opacity: 1}
}

@media screen and (max-width: 1000px){
  body{
      margin: 0;
      background-color: #ededed;
      font-family: "Arial", "Times New Roman", sans-serif;
  }
  #container{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: transparent;

  }
  #header{
      padding-top: 20px;
      height: 123px;
      width: 100%;
      max-width:100%;
      min-width: 100%;
      background-color: white;
      color: black;
      position: relative;
      top: -10px;
      z-index: 0;

  }
  #NSHD{
      width: 800px;
      height: 100px;
      max-width: 60%;
      min-width: 60%;
      max-height: 80%;
      position: relative;
      left: 21%;

  }
  
.navbar li ul{
    visibility: visible;
}

